*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background:#201f21;
}

.input-box{
    width:400px;
    max-width:90%;
    position:relative;
}

.input-box input{
    width:100%;
    height: 60px;
    background: transparent;
    border: 1px solid #ccc;
    padding:0 20px;
    outline: none;
    color: #fff;
}

.btn{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translateY(-45%);
    right: 15px;
}

button img{
    width:35px;
    border-radius: 50%;
}

#message{
    position: absolute;
    bottom:-30px;
    color: #fff;
    font-size: 15px;
    display:none;
}

::placeholder{
    color:#5a5252;
    font-size: 15px;
}